body{
	font-family: 'Roboto', sans-serif;
}

a{
	text-decoration: none !important;
}

a:hover{
	color:#43bfc2 !important;
}


.fondo{
	background-color: #43bfc2;
}


.text-main{
	color: #155354
}


.border-input{
	border-color: #d2eef2;
}


.btn-main{
	background-color: #43bfc2;
	border-color: #43bfc2;
	color: #155354;	
}

.btn-main:hover{
	background-color: #155354;
	border-color: #155354;
	color: white;	
}

.btn-cerrar{
	background-color: #d2eef2;
	border-color: #d2eef2;
	color: #155354;	
}

.btn-cerrar:hover{
	background-color: #155354;
	border-color: #155354;
	color: white;	
}

.text-nav{
	color:white;
}

.text-nav:hover{
	color: #155354;
	background-color: #d2eef2;
}

.active{
	background-color: #d2eef2;
	color: #155354;
}
.rating {
  color: #ffc107; /* Color amarillo para las estrellas */
  font-size: 1.5rem; /* Tamaño de las estrellas */
}